.header {
  overflow: hidden;
  background-color: #f1f1f1;

  & p {
    float: left;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    line-height: 15px;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.logo {
      font-size: 25px;
      font-weight: bold;
      color: #e8569c;
      margin-left: 440px;
      transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover {
      color: #620a85;
    }

    &.active {
      background-color: #17d4ca;
      color: white;
    }
  }
}

.language-btns {
  float: left;
  margin-top: 18px;
  margin-left: 60px;
  text-align: center;
}

.header__nav {
  float: right;
  margin-right: 60px;
}

// @media screen and (max-width: 500px) {
//   .header p {
//     float: none;
//     display: block;
//     text-align: left;
//   }
//   .header-right {
//     float: none;
//   }
// }
